<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT service ANY>
<!ATTLIST service id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1055" key="a516707b-6fc2-4f9e-ac6d-748b2dfe68c0" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-08-06T19:34:01" updateDate="2018-08-09T23:10:27" nodeName="Home" urlName="home" path="-1,1055" isDoc="" nodeType="1054" creatorName="James Byun" writerName="James Byun" writerID="0" template="1053" nodeTypeAlias="home" isPublished="true">
    <pageTitle><![CDATA[Home]]></pageTitle>
    <siteName><![CDATA[Moon Light]]></siteName>
    <pageLogo><![CDATA[{
  "focalPoint": {
    "left": 0.3225,
    "top": 0.4925
  },
  "src": "/media/1003/logo-moonlight.jpg",
  "crops": [
    {
      "alias": "logoSize1",
      "width": 200,
      "height": 50,
      "coordinates": {
        "x1": 0,
        "y1": 0.355,
        "x2": 0,
        "y2": 0.395
      }
    }
  ]
}]]></pageLogo>
    <blog id="1068" key="a9570616-419a-4371-a6d8-1d5470b68973" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2018-08-09T23:31:51" updateDate="2018-08-09T23:36:44" nodeName="Blog" urlName="blog" path="-1,1055,1068" isDoc="" nodeType="1063" creatorName="James Byun" writerName="James Byun" writerID="0" template="1062" nodeTypeAlias="blog" isPublished="true">
      <pageTitle><![CDATA[Blog]]></pageTitle>
    </blog>
    <service id="1069" key="d72de923-9d83-4206-9103-c301dd3fc37f" parentID="1055" level="2" creatorID="0" sortOrder="1" createDate="2018-08-09T23:34:27" updateDate="2018-08-09T23:36:57" nodeName="Service" urlName="service" path="-1,1055,1069" isDoc="" nodeType="1065" creatorName="James Byun" writerName="James Byun" writerID="0" template="1064" nodeTypeAlias="service" isPublished="true">
      <pageTitle><![CDATA[Service]]></pageTitle>
    </service>
    <contact id="1070" key="9d487fa6-f35f-4684-af46-58537a0054a1" parentID="1055" level="2" creatorID="0" sortOrder="2" createDate="2018-08-09T23:34:35" updateDate="2018-08-09T23:37:06" nodeName="Contact" urlName="contact" path="-1,1055,1070" isDoc="" nodeType="1067" creatorName="James Byun" writerName="James Byun" writerID="0" template="1066" nodeTypeAlias="contact" isPublished="true">
      <pageTitle><![CDATA[Contact]]></pageTitle>
    </contact>
  </home>
</root>