<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT registrationInfo ANY>
<!ATTLIST registrationInfo id ID #REQUIRED>
<!ELEMENT introduction ANY>
<!ATTLIST introduction id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT service ANY>
<!ATTLIST service id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1055" key="a516707b-6fc2-4f9e-ac6d-748b2dfe68c0" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-08-06T19:34:01" updateDate="2018-08-14T23:45:15" nodeName="Home" urlName="home" path="-1,1055" isDoc="" nodeType="1054" creatorName="James Byun" writerName="James Byun" writerID="0" template="1053" nodeTypeAlias="home" isPublished="true">
    <pageTitle><![CDATA[Home]]></pageTitle>
    <siteName><![CDATA[달이의 꽃숲 양로원]]></siteName>
    <pageLogo><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1003/달이의꽃숲.jpeg",
  "crops": [
    {
      "alias": "logoSize1",
      "width": 200,
      "height": 50,
      "coordinates": {
        "x1": 1.5631940186722228E-15,
        "y1": 0.21835106382978758,
        "x2": 0,
        "y2": 0.35611702127659473
      }
    },
    {
      "alias": "logoSize2",
      "width": 270,
      "height": 130
    }
  ]
}]]></pageLogo>
    <introduction id="1075" key="1aa416cb-0838-4524-8e04-c095d638ca97" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2018-08-15T00:05:26" updateDate="2018-08-15T00:07:48" nodeName="꽃숲소개" urlName="꽃숲소개" path="-1,1055,1075" isDoc="" nodeType="1072" creatorName="James Byun" writerName="James Byun" writerID="0" template="1071" nodeTypeAlias="introduction" isPublished="true">
      <pageTitle><![CDATA[꽃숲소개]]></pageTitle>
    </introduction>
    <registrationInfo id="1076" key="90000624-fba2-4e2c-a882-36d8537f0647" parentID="1055" level="2" creatorID="0" sortOrder="1" createDate="2018-08-15T00:06:09" updateDate="2018-08-15T00:07:48" nodeName="입소안내" urlName="입소안내" path="-1,1055,1076" isDoc="" nodeType="1074" creatorName="James Byun" writerName="James Byun" writerID="0" template="1073" nodeTypeAlias="registrationInfo" isPublished="true">
      <pageTitle><![CDATA[입소안내]]></pageTitle>
    </registrationInfo>
    <service id="1069" key="d72de923-9d83-4206-9103-c301dd3fc37f" parentID="1055" level="2" creatorID="0" sortOrder="2" createDate="2018-08-09T23:34:27" updateDate="2018-08-15T00:07:48" nodeName="사업안내" urlName="사업안내" path="-1,1055,1069" isDoc="" nodeType="1065" creatorName="James Byun" writerName="James Byun" writerID="0" template="1064" nodeTypeAlias="service" isPublished="true">
      <pageTitle><![CDATA[사업안내]]></pageTitle>
    </service>
    <blog id="1068" key="a9570616-419a-4371-a6d8-1d5470b68973" parentID="1055" level="2" creatorID="0" sortOrder="3" createDate="2018-08-09T23:31:51" updateDate="2018-08-15T00:07:48" nodeName="나눔" urlName="나눔" path="-1,1055,1068" isDoc="" nodeType="1063" creatorName="James Byun" writerName="James Byun" writerID="0" template="1062" nodeTypeAlias="blog" isPublished="true">
      <pageTitle><![CDATA[나눔]]></pageTitle>
    </blog>
    <contact id="1070" key="9d487fa6-f35f-4684-af46-58537a0054a1" parentID="1055" level="2" creatorID="0" sortOrder="4" createDate="2018-08-09T23:34:35" updateDate="2018-08-15T00:07:48" nodeName="문의" urlName="문의" path="-1,1055,1070" isDoc="" nodeType="1067" creatorName="James Byun" writerName="James Byun" writerID="0" template="1066" nodeTypeAlias="contact" isPublished="true">
      <pageTitle><![CDATA[문의]]></pageTitle>
    </contact>
  </home>
</root>