<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1055" key="a516707b-6fc2-4f9e-ac6d-748b2dfe68c0" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-08-06T19:34:01" updateDate="2018-08-06T19:34:01" nodeName="Home Page" urlName="home-page" path="-1,1055" isDoc="" nodeType="1054" creatorName="James Byun" writerName="James Byun" writerID="0" template="1053" nodeTypeAlias="home" isPublished="true">
    <pageTitle><![CDATA[Test Title]]></pageTitle>
    <siteName><![CDATA[Home]]></siteName>
  </home>
</root>