@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Service>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div id="fh5co-main-services-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>서비스 소개</h2>
                @*<p><span>무슨 글을 적을까요</span></p>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12 services-inner">
                        <span><i class="sl-icon-graph"></i></span>
                        <div class="desc">
                            <h3>따뜻한 섬김</h3>
                            <p>따뜻한 섬김이란 무엇일까 가나다라마바사</p>
                        </div>
                    </div>
                    <div class="col-md-12 services-inner">
                        <span><i class="sl-icon-heart"></i></span>
                        <div class="desc">
                            <h3>행복 나눔</h3>
                            <p>행복을 나누어요. 함께해야 행복합니다. </p>
                        </div>
                    </div>
                    <div class="col-md-12 services-inner">
                        <span><i class="sl-icon-key"></i></span>
                        <div class="desc">
                            <h3>마음의 치료</h3>
                            <p>마음이 건강하면 육체가 건강합니다. 공기좋고 물 좋은 대전 광역시. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <aside class="sidebar">
                    <div class="row">
                        <div class="col-md-12 side">
                            <h3>목록</h3>
                            <ul>
                                <li><i class="icon-check"></i><a href="#">목록 1</a></li>
                                <li><i class="icon-check"></i><a href="#">목록 2</a></li>
                                <li><i class="icon-check"></i><a href="#">방 Type A</a></li>
                                <li><i class="icon-check"></i><a href="#">방 Type B</a></li>
                                <li><i class="icon-check"></i><a href="#">방 Type C</a></li>
                                <li><i class="icon-check"></i><a href="#">방 Type D</a></li>
                            </ul>
                        </div>
                        <div class="col-md-12 side">
                            <h3>한 가족</h3>
                            <p>태정태세문단세 예성연중인명선 광인효현숙경영 정순헌철고순</p>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>