@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

	<footer id="fh5co-footer" role="contentinfo">
	
		<div class="container">
			<div class="col-md-4 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>오시는 길</h3>
				<p>우리는 대전에 있습니다. 대전광역시 진달래동 달맞이 거리 123호 (구글 지도를 여기에)</p>
			</div>
			<div class="col-md-4 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
			    <div id="map" data-animate-effect="fadeIn"></div>
			</div>
            
			<div class="col-md-4 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>함께해요</h3>
				<ul class="fh5co-social">
					<li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
					<li><a href="#"><i class="icon-instagram"></i> Instagram</a></li>
				</ul>
			</div>
			
			
			<div class="col-md-12 fh5co-copyright text-center">
				@*<p>&copy; 2016 Free HTML5 template. All Rights Reserved. <span>Designed with <i class="icon-heart"></i> by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images by <a href="http://unsplash.com/" target="_blank">Unsplash</a></span></p>*@
                <p>달이의 꽃숲 | 사업자 등록번호 | 주소 | 전화번호 | 핸드폰 번호 | 기타등등</p>	
			</div>
			
		</div>
	</footer>